
.dsc-cart-count-container {
    display: flex;
}

.dsc-cart-count {
    background-color: var(--dsc-color-bg-notification);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--dsc-color-font-tertiary);
    width: 18px;
    height: 18px;
    border-radius: 50%;
    font-size: 10px;
    position: relative;
    top: -10px;
    left: -5px;
}